<div class="modal-body">
  <form class="form-container">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <label>
        <input matInput placeholder="Enter target email" [formControl]="email" required>
      </label>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Message</mat-label>
      <label>
        <textarea matInput placeholder="Messages to your friend..." #text></textarea>
      </label>
      <mat-hint>Not required</mat-hint>
    </mat-form-field>
    <button mat-raised-button color="primary" *ngIf="!loading" (click)="share(text.value)">Send</button>
    <mat-progress-spinner
      class="align-self-center"
      *ngIf="loading"
      color="warn"
      mode="indeterminate"
      value="30">
    </mat-progress-spinner>
  </form>
</div>
