.form-container {
  display: flex;
  flex-direction: column;

  & mat-form-field {
    width: 100%;
  }

  & .align-self-center {
    &::ng-deep mat-progress-spinner {
      align-self: center;
    }
  }
}
