<div class="container my-container items-align-center">
<ng-container *ngIf="(messages$ | async) as messages; else load">
  <ng-container *ngFor="let message of messages.reverse()">
    <app-community [message]="message"></app-community>
  </ng-container>
</ng-container>
</div>
<div class="button-container--fixed">
  <button mat-fab class="button-bottom" color="primary" (click)="getMore()">
    <mat-icon color="accent">forward_10</mat-icon>
  </button>
</div>

<ng-template #load>
  <app-loading [message]="'Please wait, your messages are loading'"></app-loading>
</ng-template>
