.button-container--fixed {
  position: fixed;
  width: 100%;
  bottom: 4rem;
}

.button-bottom {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

button {
  outline: none;
  flex-shrink: 0;
  flex-grow: 1;
}

.items-align-center {
  align-items: center;
}
