<ng-container *ngIf="!mobileQuery.matches then horizontal"></ng-container>
<ng-container *ngIf="mobileQuery.matches then vertical"></ng-container>

<ng-template #vertical>
  <mat-vertical-stepper class="container my-container" [linear]="true" #stepper>
    <mat-step [stepControl]="placeFormGroup">
      <ng-template matStepLabel>Fill out the Place Form</ng-template>
      <app-place-form (earlier)="setWhen($event)" (selectedMarker)="setSelectedMarker($event)"></app-place-form>
    </mat-step>
    <mat-step [stepControl]="mealFormGroup">
      <ng-template matStepLabel>Fill out the Meal Form</ng-template>
      <app-meal-form [dateIsNeeded]="isEarlierDate"></app-meal-form>
    </mat-step>
    <mat-step>
      <div>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="reset(stepper)">Reset</button>
          <button mat-button (click)="confirm()">Confirm</button>
        </div>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</ng-template>

<ng-template #horizontal>
  <mat-horizontal-stepper class="container my-container" [linear]="true" #stepper>
    <mat-step [stepControl]="placeFormGroup">
      <ng-template matStepLabel>Fill out the Place Form</ng-template>
      <app-place-form (earlier)="setWhen($event)"
                      (selectedMarker)="setSelectedMarker($event)"
                      [mobileView]="false">
      </app-place-form>
    </mat-step>
    <mat-step [stepControl]="mealFormGroup">
      <ng-template matStepLabel>Fill out the Meal Form</ng-template>
      <app-meal-form [dateIsNeeded]="isEarlierDate"></app-meal-form>
    </mat-step>
    <mat-step>
      <div>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="reset(stepper)">Reset</button>
          <button mat-button (click)="confirm()">Confirm</button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</ng-template>



<!--<ng-template #collapseAgm>-->
<!--  <mat-expansion-panel>-->
<!--    <mat-expansion-panel-header>-->
<!--      <mat-panel-title>-->
<!--        Map-->
<!--      </mat-panel-title>-->
<!--      <mat-panel-description>-->
<!--        Set Place's position-->
<!--      </mat-panel-description>-->
<!--    </mat-expansion-panel-header>-->
<!--    <ng-container *ngTemplateOutlet="agm"></ng-container>-->
<!--  </mat-expansion-panel>-->
<!--</ng-template>-->

<!--<ng-template #agm>-->
<!--  <agm-map id="agm-map" [latitude]="(myLocation | async).latitude" [longitude]="(myLocation | async).longitude"-->
<!--           [zoom]="8" (mapClick)="setMarker($event)">-->
<!--    <agm-marker *ngIf="placeFormGroup.controls.marker.value !== null &&-->
<!--                             placeFormGroup.controls.marker.value !== undefined"-->
<!--                [latitude]="placeFormGroup.controls.marker.value.latitude"-->
<!--                [longitude]="placeFormGroup.controls.marker.value.longitude"-->
<!--                [markerDraggable]="true" (dragEnd)="setMarker($event)">-->
<!--    </agm-marker>-->
<!--  </agm-map>-->
<!--</ng-template>-->

<!--<ng-template #agm>-->
<!--  <app-map-->
<!--    [showDebugInfo]="true"-->
<!--    [showControlsZoom]="true"-->
<!--    [showControlsCurrentLocation]="true"-->
<!--    (addressChanged)="onAddressChange($event)"-->
<!--  >-->
<!--  </app-map>-->
<!--</ng-template>-->
