$colors: #faff00, #ffd300, #ff9b00, #ff1700, #c200ff, #8100ff, #1a00ff, #009bff;

.spinner-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(148, 148, 148, 0.5);
  z-index: 998;
}

.size {
  width: 6rem;
  height: 6rem;
}

.zero-top-bottom-left-right {
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

#loader {
  @extend .zero-top-bottom-left-right;
  height: 175px;
  margin: auto;
  position: absolute;
  width: 175px;

  & .dot {
    @extend .zero-top-bottom-left-right;
    height: 100%;
    margin: auto;
    position: absolute;
    width: 87.5px;

    &::before {
      border-radius: 100%;
      content: "";
      height: 87.5px;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: scale(0);
      -ms-transform: scale(0);
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -o-transform: scale(0);
      width: 87.5px;
    }

    @for $i from 1 through 8 {
      &:nth-child(7n + #{$i}) {
        transform: rotate(calc(45deg * #{$i}));
        -ms-transform: rotate(calc(45deg * #{$i}));
        -webkit-transform: rotate(calc(45deg * #{$i}));
        -moz-transform: rotate(calc(45deg * #{$i}));
        -o-transform: rotate(calc(45deg * #{$i}));

        &::before {
          $bc: nth($colors, $i);
          animation: 0.8s linear calc(0.1s * #{$i}) normal none infinite running load;
          -webkit-animation: 0.8s linear calc(0.1s * #{$i}) normal none infinite running webkit-load;
          -moz-animation: 0.8s linear calc(0.1s * #{$i}) normal none infinite running moz-load;
          -o-animation: 0.8s linear calc(0.1s * #{$i}) normal none infinite running o-load;
          background: $bc none repeat scroll 0 0;
        }
      }
    }
  }

  & .loading {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    bottom: -40px;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    width: 180px;
  }
}


@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }
}

@-webkit-keyframes webkit-load {
  100% {
    opacity: 0;
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }
}

@-moz-keyframes moz-load {
  100% {
    opacity: 0;
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }
}

@-o-keyframes o-load {
  100% {
    opacity: 0;
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }
}

.spinner-message {
  text-align: center;
}
