.spinner-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(148, 148, 148, 0.5);
  z-index: 998;
}

.size {
  width: 6rem;
  height: 6rem;
}

.zero-top-bottom-left-right, #loader .dot, #loader {
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

#loader {
  height: 175px;
  margin: auto;
  position: absolute;
  width: 175px;
}
#loader .dot {
  height: 100%;
  margin: auto;
  position: absolute;
  width: 87.5px;
}
#loader .dot::before {
  border-radius: 100%;
  content: "";
  height: 87.5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  width: 87.5px;
}
#loader .dot:nth-child(7n+1) {
  transform: rotate(calc(45deg * 1));
  -ms-transform: rotate(calc(45deg * 1));
  -webkit-transform: rotate(calc(45deg * 1));
  -moz-transform: rotate(calc(45deg * 1));
  -o-transform: rotate(calc(45deg * 1));
}
#loader .dot:nth-child(7n+1)::before {
  animation: 0.8s linear calc(0.1s * 1) normal none infinite running load;
  -webkit-animation: 0.8s linear calc(0.1s * 1) normal none infinite running load;
  -moz-animation: 0.8s linear calc(0.1s * 1) normal none infinite running load;
  -o-animation: 0.8s linear calc(0.1s * 1) normal none infinite running load;
  background: #faff00 none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+2) {
  transform: rotate(calc(45deg * 2));
  -ms-transform: rotate(calc(45deg * 2));
  -webkit-transform: rotate(calc(45deg * 2));
  -moz-transform: rotate(calc(45deg * 2));
  -o-transform: rotate(calc(45deg * 2));
}
#loader .dot:nth-child(7n+2)::before {
  animation: 0.8s linear calc(0.1s * 2) normal none infinite running load;
  -webkit-animation: 0.8s linear calc(0.1s * 2) normal none infinite running load;
  -moz-animation: 0.8s linear calc(0.1s * 2) normal none infinite running load;
  -o-animation: 0.8s linear calc(0.1s * 2) normal none infinite running load;
  background: #ffd300 none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+3) {
  transform: rotate(calc(45deg * 3));
  -ms-transform: rotate(calc(45deg * 3));
  -webkit-transform: rotate(calc(45deg * 3));
  -moz-transform: rotate(calc(45deg * 3));
  -o-transform: rotate(calc(45deg * 3));
}
#loader .dot:nth-child(7n+3)::before {
  animation: 0.8s linear calc(0.1s * 3) normal none infinite running load;
  -webkit-animation: 0.8s linear calc(0.1s * 3) normal none infinite running load;
  -moz-animation: 0.8s linear calc(0.1s * 3) normal none infinite running load;
  -o-animation: 0.8s linear calc(0.1s * 3) normal none infinite running load;
  background: #ff9b00 none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+4) {
  transform: rotate(calc(45deg * 4));
  -ms-transform: rotate(calc(45deg * 4));
  -webkit-transform: rotate(calc(45deg * 4));
  -moz-transform: rotate(calc(45deg * 4));
  -o-transform: rotate(calc(45deg * 4));
}
#loader .dot:nth-child(7n+4)::before {
  animation: 0.8s linear calc(0.1s * 4) normal none infinite running load;
  -webkit-animation: 0.8s linear calc(0.1s * 4) normal none infinite running load;
  -moz-animation: 0.8s linear calc(0.1s * 4) normal none infinite running load;
  -o-animation: 0.8s linear calc(0.1s * 4) normal none infinite running load;
  background: #ff1700 none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+5) {
  transform: rotate(calc(45deg * 5));
  -ms-transform: rotate(calc(45deg * 5));
  -webkit-transform: rotate(calc(45deg * 5));
  -moz-transform: rotate(calc(45deg * 5));
  -o-transform: rotate(calc(45deg * 5));
}
#loader .dot:nth-child(7n+5)::before {
  animation: 0.8s linear calc(0.1s * 5) normal none infinite running load;
  -webkit-animation: 0.8s linear calc(0.1s * 5) normal none infinite running load;
  -moz-animation: 0.8s linear calc(0.1s * 5) normal none infinite running load;
  -o-animation: 0.8s linear calc(0.1s * 5) normal none infinite running load;
  background: #c200ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+6) {
  transform: rotate(calc(45deg * 6));
  -ms-transform: rotate(calc(45deg * 6));
  -webkit-transform: rotate(calc(45deg * 6));
  -moz-transform: rotate(calc(45deg * 6));
  -o-transform: rotate(calc(45deg * 6));
}
#loader .dot:nth-child(7n+6)::before {
  animation: 0.8s linear calc(0.1s * 6) normal none infinite running load;
  -webkit-animation: 0.8s linear calc(0.1s * 6) normal none infinite running load;
  -moz-animation: 0.8s linear calc(0.1s * 6) normal none infinite running load;
  -o-animation: 0.8s linear calc(0.1s * 6) normal none infinite running load;
  background: #8100ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+7) {
  transform: rotate(calc(45deg * 7));
  -ms-transform: rotate(calc(45deg * 7));
  -webkit-transform: rotate(calc(45deg * 7));
  -moz-transform: rotate(calc(45deg * 7));
  -o-transform: rotate(calc(45deg * 7));
}
#loader .dot:nth-child(7n+7)::before {
  animation: 0.8s linear calc(0.1s * 7) normal none infinite running load;
  -webkit-animation: 0.8s linear calc(0.1s * 7) normal none infinite running load;
  -moz-animation: 0.8s linear calc(0.1s * 7) normal none infinite running load;
  -o-animation: 0.8s linear calc(0.1s * 7) normal none infinite running load;
  background: #1a00ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+8) {
  transform: rotate(calc(45deg * 8));
  -ms-transform: rotate(calc(45deg * 8));
  -webkit-transform: rotate(calc(45deg * 8));
  -moz-transform: rotate(calc(45deg * 8));
  -o-transform: rotate(calc(45deg * 8));
}
#loader .dot:nth-child(7n+8)::before {
  animation: 0.8s linear calc(0.1s * 8) normal none infinite running load;
  -webkit-animation: 0.8s linear calc(0.1s * 8) normal none infinite running load;
  -moz-animation: 0.8s linear calc(0.1s * 8) normal none infinite running load;
  -o-animation: 0.8s linear calc(0.1s * 8) normal none infinite running load;
  background: #009bff none repeat scroll 0 0;
}
#loader .loading {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: -40px;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  width: 180px;
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }
}
.spinner-message {
  text-align: center;
}

/*# sourceMappingURL=loading.component.css.map */
