@import "./world-of-your-meals";

$dark-purple: #370d82;
$dark-light-purple: #8c6cf4;
$opacity-5-dark-purple: rgba(53, 13, 128, 0.65);
$light-purple: rgb(227, 223, 255);
$dark-orange: #ff8c00;
$light-orange: #ffdda4;
$opacity-dark-orange: rgba(255, 140, 0, 0.2);
$opacity-darker-orange: rgba(255, 140, 0, 0.4);
$opacity-5-dark-orange: #ff8c00b5;
$orangered: orangered;

$theme: $world-of-your-meals-theme;

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);
$warn: map-get($theme, warn);

$foreground: map-get($accent, 50);
$background: map-get($primary, 50);
$warn-background: map-get($mat-redbrown, 50);
