@import '~@angular/material/theming';

$mat-darkpurple: (
  50 : #e7e2f0,
  100 : #c3b6da,
  200 : #9b86c1,
  300 : #7356a8,
  400 : #553195,
  500 : #370d82,
  600 : #310b7a,
  700 : #2a096f,
  800 : #230765,
  900 : #160352,
  A100 : #9985ff,
  A200 : #6f52ff,
  A400 : #441fff,
  A700 : #2f05ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-darkorange: (
  50 : #fff1e0,
  100 : #ffddb3,
  200 : #ffc680,
  300 : #ffaf4d,
  400 : #ff9d26,
  500 : #ff8c00,
  600 : #ff8400,
  700 : #ff7900,
  800 : #ff6f00,
  900 : #ff5c00,
  A100 : #ffffff,
  A200 : #fff6f2,
  A400 : #ffd2bf,
  A700 : #ffc0a6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-redbrown: (
  50 : #ede0e0,
  100 : #d1b3b3,
  200 : #b38080,
  300 : #944d4d,
  400 : #7d2626,
  500 : #660000,
  600 : #5e0000,
  700 : #530000,
  800 : #490000,
  900 : #380000,
  A100 : #ff6e6e,
  A200 : #ff3b3b,
  A400 : #ff0808,
  A700 : #ee0000,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

@include mat-core();

$world-of-your-meals-primary: mat-palette($mat-darkpurple);
$world-of-your-meals-accent:  mat-palette($mat-darkorange);
$world-of-your-meals-warn:    mat-palette($mat-redbrown, A700, A100, 400);

$world-of-your-meals-theme: mat-light-theme($world-of-your-meals-primary, $world-of-your-meals-accent, $world-of-your-meals-warn);

@include angular-material-theme($world-of-your-meals-theme);
