@import "../../../../../styles";
@import "../../../../css/variables";

$size: 100px;

.slide-image {
  @extend .full-size;
  align-content: center;
  display: block;
  max-width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 20px;
  object-fit: none;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.9));
}

.highlight {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-shadow: 0 1px 0 black;
}

.star-format {
  font-size: xx-large;
  text-align: center;
  background-color: $opacity-darker-orange !important;
  color: $dark-light-purple !important;
}

carousel > div {
  margin-top: 2rem;
}

::ng-deep .carousel-control-prev-icon {
  background-image: url('../../../../../assets/img/arrow_left-24px.svg');
  background-size: cover;
  width: $size;
  height: $size;
}

::ng-deep .carousel-control-next-icon {
  background-image: url('../../../../../assets/img/arrow_right-24px.svg');
  background-size: cover;
  width: $size;
  height: $size;
}

.picture-frame {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 30px;
  background-color: $opacity-darker-orange;
  height: calc(100vh - 162px);
}

.tab-icon {
  margin-right: 0.5rem;
}

input {
  background-color: $opacity-darker-orange !important;
  color: $dark-light-purple !important;
}

form {
  color: $dark-purple !important;
  font-weight: bold;
}

.mat-button-toggle-group {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  & button {
    width: 100%;
  }
}
