/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #370d82;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  color: #370d82;
  background-color: #ff8c00;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #ff8c00;
}

.mat-paginator {
  background: none;
  margin-top: 1rem;
}
.mat-paginator .mat-paginator-container {
  justify-content: center;
}

.full-size, .slide-image, .my-container {
  height: 100%;
  height: -moz-available;
  /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  height: stretch;
}

.my-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal.fade {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.modal-dialog {
  margin: 0;
}

.modal-content {
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important;
}

.mat-tab-labels {
  justify-content: center;
  /* align items in Main Axis */
}

.mat-tab-label-content {
  color: #370d82;
}

popover-container {
  display: block;
  will-change: transform;
  top: 0;
  left: 0;
  transform: translate3d(-20px, -80px, 0px);
  width: 45vw;
}

.popover-body {
  padding: 0 !important;
}

.slide-image {
  align-content: center;
  display: block;
  max-width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 20px;
  object-fit: none;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.9));
}

.highlight {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.75);
  padding: 4px 8px;
  color: white;
  margin: 0;
  font: 14px Sans-Serif;
}

.highlight {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-shadow: 0 1px 0 black;
}

.fixed-left-bottom {
  position: fixed;
  bottom: -2%;
  left: 8%;
  z-index: 1020;
  transform: translate(-50%, -50%);
}

.fixed-right-bottom {
  position: fixed;
  bottom: -2%;
  left: 92%;
  z-index: 1020;
  transform: translate(-50%, -50%);
}

.star-format {
  font-size: xx-large;
  text-align: center;
  background-color: rgba(255, 140, 0, 0.4) !important;
  color: #8c6cf4 !important;
}

carousel > div {
  margin-top: 2rem;
}

::ng-deep .carousel-control-prev-icon {
  background-image: url("../../../../../assets/img/arrow_left-24px.svg");
  background-size: cover;
  width: 100px;
  height: 100px;
}

::ng-deep .carousel-control-next-icon {
  background-image: url("../../../../../assets/img/arrow_right-24px.svg");
  background-size: cover;
  width: 100px;
  height: 100px;
}

.picture-frame {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 30px;
  background-color: rgba(255, 140, 0, 0.4);
}

.tab-icon {
  margin-right: 0.5rem;
}

input {
  background-color: rgba(255, 140, 0, 0.4) !important;
  color: #8c6cf4 !important;
}

form {
  color: #370d82 !important;
  font-weight: bold;
}

.mat-button-toggle-group {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}
.mat-button-toggle-group button {
  width: 100%;
}

/*# sourceMappingURL=meal-gallery.component.css.map */
