<carousel appCarouselSwipe (activeSlideChange)="onChange($event)" [(activeSlide)]="activeSlideIndex" [interval]="0">
  <slide *ngFor="let meal of meals; let index=index">
    <div class="picture-frame">
      <img class="slide-image" [src]="meal.picture" [alt]="meal.name"
           (click)="openModal(template, meal)"
           [style.width]="!mobileQuery.matches ? '100%' : 'unset'">
      <div class="carousel-caption">
        <h3 class="highlight">{{meal.name}}</h3>
        <rating class="highlight" [(ngModel)]="meal.rate" [readonly]="true"></rating>
      </div>
    </div>
  </slide>
</carousel>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{sharing ? 'Sharing' : 'Details'}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <ng-container *ngIf="sharing">
    <app-share [payload]="payload" (isSuccessShare)="sharing = !$event.valueOf()"></app-share>
  </ng-container>
  <ng-container *ngIf="!sharing">
    <div class="modal-body">
      <mat-tab-group color="primary">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon" color="primary">camera_alt</mat-icon>
            Picture
          </ng-template>
          <div style="text-align: center">
            <img [src]="selectedMeal.picture" class="img-fluid" alt="picture">
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon" color="primary">info</mat-icon>
            Info.
          </ng-template>
          <div *ngIf="place().marker as marker">
            <form style="margin-top: 1rem;">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Meal name" readonly
                       [value]="selectedMeal.name">
                <small id="nameHelp" class="form-text text-muted">Here you can see the meal's name</small>
              </div>
              <div class="form-group">
                <label for="rate">Rate</label>
                <div class="form-control star-format">
                  <rating id="rate" [(ngModel)]="selectedMeal.rate" [readonly]="true"
                          [ngModelOptions]="{standalone: true}"></rating>
                </div>
              </div>
              <div class="form-group">
                <label for="date">Date</label>
                <input type="text" class="form-control" id="date" aria-describedby="date" placeholder="Meal date" readonly
                       [value]="selectedMeal.date | date">
                <small id="dateHelp" class="form-text text-muted">Here you can see when you ate your meal</small>
              </div>
              <div class="form-group">
                <label for="marker">Latitude & Longitude</label>
                <input type="text" class="form-control" id="marker" aria-describedby="marker" placeholder="Meal marker"
                       readonly [value]="marker.latitude + ' || ' + marker.longitude">
                <small id="markerHelp" class="form-text text-muted">It shows the latitude & longitude of place.</small>
              </div>
            </form>
          </div>
        </mat-tab>
      </mat-tab-group>
      <div class="mat-button-toggle-group">
        <button mat-flat-button color="primary" [disabled]="!isOnline" (click)="jump(place())">Show</button>
        <button mat-flat-button color="accent" [disabled]="!isOnline" (click)="share(place(), selectedMeal)">Share</button>
        <button mat-flat-button color="warn" [disabled]="!isOnline" (click)="remove(selectedMeal)">Remove</button>
      </div>
    </div>
  </ng-container>
</ng-template>
