<div class="container my-container items-align-center">
  <mat-card class="my-card">
    <mat-card-header>
      <div mat-card-avatar class="my-header-image"
           [style.backgroundImage]="!!user?.profile.profilePicture ?
     'url(' + user?.profile.profilePicture + ')' : 'url(' + user?.fireUser.photoURL + ')'"
      ></div>
      <mat-card-title>{{user?.fireUser?.displayName}}</mat-card-title>
      <mat-card-subtitle>Visited places: {{user?.placeKeys?.length}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="!editModeOn else editForm">
        <p>
          Nickname: <strong>{{ !!user?.profile?.nickname ? user?.profile.nickname : 'No provided nickname' }}</strong>
        </p>
        <p>
          Is notification turned on? <strong>{{user?.settings.notifyNumber > 0 ? "Yes" : "No"}}</strong>
        </p>
        <p *ngIf="user?.settings?.notifyNumber > 0">
          Notification number of a day: <strong>{{user?.settings.notifyNumber}}</strong>
        </p>
        <p>
          Is GPS turned on? <strong>{{user?.settings.gps ? "Yes" : "No"}}</strong>
        </p>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="my-card plus-margin-bottom">
    <mat-card-header>
      <mat-card-title>State</mat-card-title>
      <mat-card-subtitle *ngIf="places.length > 0">Chart about your visited places</mat-card-subtitle>
      <mat-card-subtitle *ngIf="places.length === 0">You must be starving because you have not eaten anything yet :O</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content [class.text-align-center]="places.length === 0">
      <p-chart *ngIf="places.length > 0" type="pie" [data]="data" [options]="options"></p-chart>
      <img *ngIf="places.length === 0" src="../../../../../assets/img/hungry-man.svg" width="200" height="200" alt="hungry_man">
    </mat-card-content>
  </mat-card>
</div>
<div class="button-container--fixed">
  <button mat-fab [disabled]="!isOnline" class="button-bottom" color="primary" (click)="onClick()">
    <mat-icon *ngIf="!editModeOn" color="accent">edit</mat-icon>
    <mat-icon *ngIf="editModeOn" color="accent">save</mat-icon>
  </button>
</div>

<ng-template #editForm>
  <form [formGroup]="formGroup">
    <div class="form-group">
        <input matInput type="text" required hidden formControlName="picture">
      <div class="img-preview-container">
        <button mat-stroked-button (click)="processFile()">Upload profile picture</button>
        <div class="img-preview" (click)="processFile()" [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}"></div>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field id="nicknameFormField" appearance="outline">
        <mat-label>Nickname</mat-label>
        <input matInput formControlName="nickname" placeholder="{{user?.fireUser.displayName}}">
        <mat-hint>This name will shows up in the shares.</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-slider class="width-hundred" thumbLabel min="0" max="5" tickInterval="1" formControlName="notify"></mat-slider>
      <small class="mat-hint"> <br/>With this you can get notifications about the temporary saved meals.</small>
    </div>
    <div class="form-group">
      <button mat-mini-fab
              triggers="click"
              tooltip="Android: You can reach the gps settings in Chrome on the following URL: chrome://settings/content/location.
              iOS: You have to reset all of your location settings to the factory default, go to Settings > General > Reset and tap Reset Location & Privacy.
              Now you can grant or deny the permission again."
              placement="right"
              aria-label="Button which show a tooltip about the location settings."
              type="button"
      >
        <mat-icon>gps_fixed</mat-icon>
      </button>
      <small class="mat-hint"> <br/>Help for manage GPS</small>
    </div>
  </form>
</ng-template>
