@import "src/app/css/variables";

.width-hundred {
  width: 100%;
}

.my-card {
  max-width: 400px;
  margin-top: 2rem;
  @extend .width-hundred;
}

.plus-margin-bottom {
  margin-bottom: 5rem;
}

.my-header-image {
  background-size: cover;
}

.button-bottom {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.button-container--fixed {
  position: fixed;
  width: 100%;
  bottom: 4rem;
}

.items-align-center {
  align-items: center;
}

.div-margin-top {
  margin-top: 1rem;
}

button {
  outline: none;
  flex-shrink: 0;
  flex-grow: 1;
}

.img-preview-container {
  @extend .div-margin-top;

  position: relative;
  margin-bottom: 1rem;
  display: flex;

  .img-preview {
    background: center center no-repeat;
    background-size: cover;
    border: 0.25rem solid $opacity-darker-orange;
    height: 5rem;
    width: 5rem;
  }
}

#nicknameFormField {
  display: block;
}

.text-align-center {
 text-align: center;
}
