<div class="div-background">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="meals_number">
      <th mat-header-cell *matHeaderCellDef> Meals number</th>
      <td mat-cell *matCellDef="let element"> {{element.mealKeys.length}} </td>
    </ng-container>

    <ng-container matColumnDef="average_rate">
      <th mat-header-cell *matHeaderCellDef> Average rate</th>
      <td mat-cell *matCellDef="let element"> {{element.avgRate}} </td>
    </ng-container>

    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
          <mat-icon (click)="navigate(element)">explore</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="dataSource.data.length"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 showFirstLastButtons>
  </mat-paginator>
</div>
