table {
  width: 100%;
  padding: 1rem;
  background-color: rgba(255, 140, 0, 0);
  box-shadow: 0 0 10px 5px #e3dfff;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

input {
  color: #ff8c00;
}

tr.mat-row:hover {
  box-shadow: 0 0 10px 5px #370d82;
}
tr.mat-row:hover mat-icon {
  visibility: visible;
}

.div-background {
  background-color: white;
  padding: 0.5rem;
  margin-top: 2rem;
  border-radius: 30px;
  box-shadow: 0 0 5px 2.5px #ffdda4;
}

.mat-column-name {
  width: 30% !important;
}

.mat-column-meals_number {
  width: 30% !important;
  text-align: center;
}

.mat-column-average_rate {
  width: 30% !important;
  text-align: center;
}

.mat-column-button {
  width: 10% !important;
}
.mat-column-button mat-icon {
  vertical-align: middle;
  cursor: pointer;
  visibility: hidden;
}

/*# sourceMappingURL=place-table.component.css.map */
