@import "../../../../css/_variables.scss";

table {
  width: 100%;
  padding: 1rem;
  background-color: transparent !important;
  box-shadow: 0 0 10px 5px $light-purple;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

input {
  color: mat-color($accent);
}

tr.mat-row:hover {
  box-shadow: 0 0 10px 5px $dark-purple;

  & mat-icon {
    visibility: visible;
  }
}

.div-background {
  background-color: white;
  padding: 0.5rem;
  margin-top: 2rem;
  border-radius: 30px;
  box-shadow: 0 0 5px 2.5px $light-orange;
}

.mat-column-name {
  width: 30% !important;
}

.mat-column-meals_number {
  width: 30% !important;
  text-align: center;
}

.mat-column-average_rate {
  width: 30% !important;
  text-align: center;
}

.mat-column-button {
  width: 10% !important;

  & mat-icon {
    vertical-align: middle;
    cursor: pointer;
    visibility: hidden;
  }
}
