<form [formGroup]="placeFormGroup">
  <div class="form-group">
    <label for="when">Are you at the place?</label>
    <br/>
    <mat-radio-group id="when" aria-label="Are you at the place?" formControlName="when" required>
      <mat-radio-button [value]="whenNow">Yes</mat-radio-button>
      <mat-radio-button [value]="whenEarlier">No</mat-radio-button>
    </mat-radio-group>
    <small class="form-text text-muted">This information is needed to avoid the mistakes.</small>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Place's name" formControlName="name" required>
      <mat-error *ngIf="placeFormGroup.controls.name.invalid">{{errorMsg.namePlace}}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <app-map
      [showDebugInfo]="false"
      [showControlsZoom]="true"
      [showControlsCurrentLocation]="true"
      (marker)="onMarkerChange($event)"
      (addressChanged)="onAddressChange($event)">
    </app-map>
  </div>
  <div class="form-group">
    <mat-form-field [ngClass]="mobileView ? '' : 'input__width--bigger'">
      <input matInput placeholder="Place address" type="text" formControlName="address" [readonly]="true" required>
      <mat-error *ngIf="placeFormGroup.controls.address.invalid">{{errorMsg.address}}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <p *ngIf="getMarker != null else noContent">
      Latitude: {{getMarker.latitude | number:'3.0-5'}}
      <br *ngIf="mobileView"/>
      Longitude: {{getMarker.longitude | number:'3.0-5'}}
    </p>
  </div>
  <div>
    <button mat-button matStepperNext (click)="sendValues()">Next</button>
  </div>
</form>

<ng-template #noContent>
  <p>No placed marker on the map!</p>
</ng-template>
