<div class="jumbotron flex-fill">
  <dl>
    <dt><h2>Short Introduction</h2></dt>
    <dd>This application helps to you save your experience with places and its meals.</dd>
    <dt>What does it mean?</dt>
    <dd>You can take a picture about your food, rate it and save it with the corresponding place. This application
      will save your location as well, so you can see where you ate your best meals.
    </dd>
  </dl>
</div>
<div class="jumbotron flex-fill button-block">
  <button mat-raised-button color="accent" (mousedown)="showPopUp()" [disabled]="!isOnline" (click)="click()"
          class="btn-lg btn-block custom-button">
    {{actionButtonLabel}}
  </button>
</div>
<div class="jumbotron flex-fill">
  <dl>
    <dt><h2>About</h2></dt>
    <dd>
      Nowadays, people really love share their meals and where they were before. There is some solution for this
      for example the Instagram, Twitter, Facebook or the Google Maps. These are really good applications, but they
      scope is too big for this. You cannot handle in a good way your foods and these places. With this application, you
      can register your meals with place and you can follow up they. You can rate, pin the place on a map and take
      pictures as well about the foods. But what this contains application and how can you use it?
      <hr>
    </dd>
    <dt><i>Online working</i></dt>
    <dd>
      <u>Home view:</u> You get short introduction of app and you can Login. After that, the Login button will be
      replaced with another one and you can register your food.<br>
      <u>Profile view:</u> Here you can set your profile and even you can set a nickname for yourself as well that shows
      up in messages. You can set application settings as well and you can check a diagram about your eating.<br>
      <u>History view:</u> This view is not just one view. It zipped three views. The first is table view about the
      places. Here you can use filter where you can type any information about the place. The second a gallery type
      view, where you can review your foods and the given ratings. If you poke one picture, then you will see a detailed
      pop-up window with a button that navigate to you to the next view, a button that delete the food and another
      button that can be use for sharing. On the sharing screen you must provide the email address of your friend.
      The third view is the map view. Here you can see all of places where you were. You can find the navigation button
      always at the left corner of bottom. This button will change on this view and it will navigate back to the table
      view. This map view provides detail pop-up as well, only you have to poke one marker for the info box (Some marker
      collect more close points). If you tried it, then you will see a button what navigate back to the gallery to that
      meal.<br><br>
      <u>Community:</u> It provides a view for your income messages. Here you can find a button that load ten more
      messages if exist more. (Currently you dont get notification about a new one).<br>
      <u>I'm hungry:</u> If you poke it, then the application will search the closest place for you where you ate
      before. You will receive a notification that can navigate to the map view with the place in the center. In that
      case, if you dont have any place, then you get notification as well, but then the navigation wont work, and the
      message will says that in the notification.<br>
      <u>Add my meal!</u>The button redirect you to a three-step-form. On the first you have to name the place (if you
      give exactly the same name where you were before, then the meal will be add to that place) and pin a marker where
      it is. On the second one, you have to upload a picture about your meal, name it and rate it. If you on the place
      form select that you are not there, then you can set the date when you were there with a date select field. On the
      last, you must confirm your given datas. After that you can check it in the History.<br>
      <u>Sign out:</u> This button provides you an opportunity to log out if you want for some reason.<br>
    </dd>
    <dt><i>Offline working</i></dt>
    <dd>
      You can reach every main functionality in the application without internet connection as well.
      So you can use the table view of places and the meal gallery and your profile.
      The profile view's edit function, the map, the community, "I'm hungry" function and adding meals function view
      won't be reachable because they need internet connection. In offline mode you cannot delete your meals and you
      are not able to share those.
    </dd>
  </dl>
</div>
<div class="footer">
  Contact for developer: {{contactEmail}}
</div>
