@import "~bootstrap/scss/bootstrap";
@import "./src/app/css/variables";

.footer {
  @extend .jumbotron;
  @extend .flex-fill;
  margin-bottom: 0;
  padding: 0.5rem 1rem
}

.button-block {
  padding: 0 2rem;
  background: none;
  max-width: 600px;
  margin: auto auto 2rem;

  & .custom-button {
    border: $orangered;
    font-weight: 700;
    color: mat-color($primary) !important;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    border-radius: 15px;
    line-height: 1.5;

    &:active {
      background: mat-color($primary, A700) !important;
      color: mat-color($accent, A700) !important;
    }
  }
}
