.marker {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.hidden-button {
  background-color: transparent;
  border: none !important;
  outline: none;
  border-radius: 50%;
}

.popover-body {
  padding: 0.5rem 0.75rem;
}

/*# sourceMappingURL=map.component.css.map */
