@import "./src/app/css/variables";

$border-radius-top: 20px 20px 0 0;

.popover-container {
  background-color: $opacity-5-dark-orange;
  border-radius: 20px;

  & .header-background {
    background-color: rgba(0, 115, 255, 0.65);
    border-radius: $border-radius-top;

    & .my-popover-header {
      background-color: $opacity-5-dark-purple;
      color: $dark-orange;
      border-bottom: 1px solid $dark-purple;
      border-radius: $border-radius-top;
    }
  }

  & .my-popover-body {
    padding: 0.5rem 0.75rem;
    color: mediumblue;
    font-weight: 600;
  }
}

#popup {
  min-width: 225px;
}
