<aol-map [logo]="false" [width]="width" [height]="height" (onSingleClick)="onSingleClick($event)" [renderer]="'canvas'"
         [loadTilesWhileAnimating]="true" [loadTilesWhileInteracting]="true" #map>

  <aol-interaction-default></aol-interaction-default>

  <aol-view [zoom]="zoom">
    <aol-coordinate [x]="centerLng" [y]="centerLat" [srid]="'EPSG:4326'"></aol-coordinate>
  </aol-view>

  <aol-layer-tile [opacity]="1">
    <aol-source-osm></aol-source-osm>
  </aol-layer-tile>

  <!--  Single Marker part-->
  <aol-layer-vector *ngIf="places.length == 0 && !multiMarkerMode" [opacity]="1">
    <aol-source-vector>
      <aol-feature>
        <aol-geometry-point>
          <aol-coordinate [x]="position.longitude" [y]="position.latitude" [srid]="'EPSG:4326'"></aol-coordinate>
        </aol-geometry-point>
        <aol-style>
          <aol-style-icon [src]="markerImage" [anchor]="[0.5, 1]" [anchorXUnits]="'fraction'"
                          [anchorYUnits]="'fraction'" [scale]="0.1"
                          [anchorOrigin]="'top-left'">
          </aol-style-icon>
        </aol-style>
      </aol-feature>
    </aol-source-vector>
  </aol-layer-vector>

  <aol-control>
    <aol-content>
      <div *ngIf="showControlsZoom" class="ol-overlaycontainer-stopevent">
        <div class="ol-zoom ol-unselectable ol-control">
          <button [title]="'Zoom in'" class="ol-zoom-in" type="button" title="Zoom in" (click)="increaseZoom()">
            <mat-icon>add</mat-icon>
          </button>
          <button [title]="'Zoom out'" class="ol-zoom-out" type="button" title="Zoom out" (click)="decreaseZoom()">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
        <div *ngIf="showControlsCurrentLocation && !isGeolocationDeclined" class="ol-rotate ol-unselectable ol-control">
          <button [title]="'Current location'" (click)="setCurrentLocation()">
            <mat-icon>gps_fixed</mat-icon>
          </button>
        </div>
        <div class="ol-attribution ol-unselectable ol-control ol-uncollapsible">
          <ul>
            <li>© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a></li>
          </ul>
        </div>
      </div>
    </aol-content>
  </aol-control>
</aol-map>

<ng-container *ngIf="showDebugInfo">
  <pre>
    zoom:{{zoom}}
    position.latitude:{{position.latitude}}
    position.longitude:{{position.longitude}}
    pointedAddress:{{pointedAddress}}
    pointedAddressOrg:{{pointedAddressOrg}}
  </pre>
</ng-container>

<div id="popup" class="ol-popup">
  <div id="popup-content" class="popover-container">
    <div *ngIf="placeContext else clusterPopUp">
      <div class="header-background">
        <h3 class="popover-title popover-header my-popover-header">
          {{placeContext.name}}
        </h3>
      </div>
      <div class="container-fluid my-popover-body">
        <div class="row">
          <div class="col">
            Average rating:
          </div>
          <div class="col">
            <div class="row" style="justify-content: space-around;">
              <rating [(ngModel)]="placeContext.avgRate" [max]="5" [readonly]="true"></rating>
              <p>
                {{ placeContext.avgRate}}
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>
              Tried meals:
            </p>
          </div>
          <div class="col">
            <p>
              {{placeContext.mealKeys.length}}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>
              {{(getAddressForMarker() | async).fullAddress}}
            </p>
          </div>
        </div>
        <div class="row" *ngIf="routerLinkFunction(placeContext) !== false">
          <div class="col">
            <button mat-raised-button type="button" [routerLink]="routerLinkFunction(placeContext)">Show meals</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #clusterPopUp>
  <ng-container *ngIf="clusterNumber > 1">
    <div class="header-background">
      <h3 class="popover-title popover-header my-popover-header">
        Cluster Point
      </h3>
    </div>
    <div class="container-fluid my-popover-body">
      <div class="row">
        <div class="col">
          This point contains {{clusterNumber}} places!
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>
