<!--FCM user token megszerzésére-->
<!--<button type="button" class="btn-sm btn-primary" (click)="askForPermissioToReceiveNotifications()">token</button>-->

<button *ngIf="update" mat-raised-button color="primary" (click)="openModal(template)" class="horizontal-center text-warn">
  UPDATE
  <mat-icon color="warn">system_update</mat-icon>
</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      <mat-icon color="primary">save_alt</mat-icon>
      UPDATE
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <button mat-raised-button color="primary" class="text-accept" (click)="updateAndClose()">
          <mat-icon color="accent">system_update</mat-icon>
          Accept update
          <mat-icon color="accent">system_update</mat-icon>
        </button>
      </div>
      <div class="row justify-content-center">
        <strong>The application has an update!</strong>
      </div>
    </div>
  </div>
</ng-template>
