@import "./src/app/css/variables";

.horizontal-center {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.text-warn {
  color: mat-color($warn) !important;
  font-weight: 900;
}

.text-accept {
  color: limegreen !important;
}

h4 {
  color: mat-color($primary);

  & mat-icon {
    font-size: 30px;
    font-weight: 900;
    vertical-align: sub;
  }
}
