/* You can add global styles to this file, and also import other style files */
@import "app/css/variables.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-paginator {
  background: none;
  margin-top: 1rem;

  & .mat-paginator-container {
    justify-content: center;
  }
}

.full-size {
  height: 100%;
  height: -moz-available; /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  height: stretch;
}

.my-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @extend .full-size;
}

.modal.fade {
  display: block !important;
  justify-content: center;
  align-items: center;
}

.modal-dialog {
  margin: 0;
}

.modal-content {
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important;
}

.mat-tab-labels {
  justify-content: center; /* align items in Main Axis */
}

.update-modal {
  & .modal-header {
    background-color: #1f8bff;
    border-radius: 50% 50% 0 0;
  }

  & .modal-body {
    background-color: mat-color($accent);
    border-radius: 0 0 30% 30%;
  }

  & .modal-content {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
}

.carousel-control-prev, .carousel-control-next {
  z-index: unset !important;
}

.carousel-caption {
  z-index: unset !important;
}

.disabled-link {
  color: mat-color($primary, 100);
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
  text-decoration: none;
}
