<router-outlet></router-outlet>
<div class="button-container--fixed" [hidden]="!isOnline">
  <button mat-fab class="button__bottom--right" color="primary" routerLink="../register_food">
    <mat-icon color="accent">fastfood</mat-icon>
  </button>
  <button mat-fab class="button__bottom--left" color="primary" (click)="onClick()">
    <mat-icon color="accent">{{icon}}</mat-icon>
  </button>
</div>
