.button_bottom, .button__bottom--left, .button__bottom--right {
  position: absolute;
  bottom: 20px;
  background-color: #370d82;
  color: #ff8c00;
}

.button__bottom--right {
  right: 20px;
}

.button__bottom--left {
  left: 20px;
}

.button-container--fixed {
  position: fixed;
  width: 100%;
  bottom: 0;
}

/*# sourceMappingURL=route-page.component.css.map */
