@import "../../../../css/variables";

$place: 20px;

.button_bottom {
  position: absolute;
  bottom: $place;
}

.button__bottom--right {
  @extend .button_bottom;
  right: $place;
}

.button__bottom--left {
  @extend .button_bottom;
  left: $place;
}

.button-container--fixed {
  position: fixed;
  width: 100%;
  bottom: 0;
}

button {
  outline: none;
}


