.my-header-image {
  background-size: cover;
}

.width-hundred {
  width: 100%;
}

.my-card {
  max-width: 400px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  flex-flow: row wrap;
  @extend .width-hundred;
}

.my-mat-car-img {
  & ::ng-deep mat-card img {
  width: calc(50% + 32px);
  }
}
