<mat-card class="my-card">
  <mat-card-header>
    <div mat-card-avatar class="my-header-image" [style.backgroundImage]="'url(' + message.picture + ')'"></div>
    <mat-card-title>{{message.name}}</mat-card-title>
    <mat-card-subtitle>{{message.email}}</mat-card-subtitle>
    <mat-card-subtitle>{{ message.timestamp | date:'medium'}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="message.payload.meal.picture" alt="Meal photo">
  <mat-card-content>
    <h3>
      Details
    </h3>
    <p *ngIf="message.payload.text">
      {{message.payload.text}}
    </p>
    <p>
      <b>About the meal:</b> <br/>
      <i>Name:</i> {{message.payload.meal.name}}; <br/>
      <i>Rate:</i> {{message.payload.meal.rate}}
    </p>
    <br/>
    <p>
      <b>About the place:</b> <br/>
      <i>Name:</i> {{message.payload.placeName}} <br/>
      <i>Average Rate:</i> {{message.payload.avgRate}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button type="button" (click)="openDialog()">Show on Map</button>
  </mat-card-actions>
</mat-card>
