<div class="my-sidenav-div" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="my-toolbar">
    <button mat-icon-button color="accent" *ngIf="loggedIn" (click)="sideNav.toggle()">
      <mat-icon color="accent" matBadge="*" matBadgeColor="warn" [matBadgeHidden]="!updateAvailable">menu</mat-icon>
    </button>
    <span class="fill-remaining-space" *ngIf="loggedIn"></span>
    <div class="div__display--flex" [ngClass]="!loggedIn ? 'auto-mg': ''">
      <h1 class="text__margin--right mat-title"><strong>World Of Your Meals</strong></h1>
      <img class="mat-icon" src="../../../../assets/icons/icon-72x72.png" alt="Logo" />
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="my-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
                         [hasBackdrop]="true" >
    <mat-sidenav #sideNav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches"
                 fixedTopGap="56" role="directory"
                 fixedInViewport="true">
      <mat-nav-list *ngIf="loggedIn">
        <a mat-list-item class="mat-h3 font-weight-bolder" routerLink="/main" (click)="closeSideNav()">
          <mat-icon class="fill-remaining-space text__margin--right">home</mat-icon>
          Home
        </a>
        <hr>
        <a mat-list-item class="mat-h3 font-weight-bolder" routerLink="/profile" (click)="closeSideNav()">
          <mat-icon class="fill-remaining-space text__margin--right">person</mat-icon>
          Profile
        </a>
        <hr>
        <a mat-list-item class="mat-h3 font-weight-bolder" routerLink="/history" (click)="closeSideNav()">
          <mat-icon class="fill-remaining-space text__margin--right">beenhere</mat-icon>
          History
        </a>
        <hr>
        <a mat-list-item class="mat-h3 font-weight-bolder" [class.disabled-link]="!isOnline" routerLink="/community" (click)="closeSideNav()">
          <mat-icon class="fill-remaining-space text__margin--right">group</mat-icon>
          Community
        </a>
        <hr>
        <a mat-list-item class="mat-h3 font-weight-bolder" [class.disabled-link]="!isOnline" (click)="hungry()">
          <mat-icon class="fill-remaining-space text__margin--right">fastfood</mat-icon>
          I'm hungry!
        </a>
        <hr>
        <a mat-list-item class="mat-h3 font-weight-bolder" [class.disabled-link]="!isOnline" (click)="logOut()">
          <mat-icon class="fill-remaining-space text__margin--right">power_settings_new</mat-icon>
          Sign out
        </a>
        <hr>
        <app-updater (available)="setUpdateAvailable($event.valueOf())"></app-updater>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content id="mat-sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
