mat-toolbar {
  background-color: #370d82 !important;
}
mat-toolbar button {
  color: #ff8c00 !important;
}

.is-mobile .my-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}
.is-mobile .my-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

h1 {
  color: #ff8c00 !important;
}

img {
  color: #ff8c00 !important;
}

.text__margin--right {
  margin-right: 8px;
}

.my-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  height: inherit;
}
.my-sidenav-container mat-sidenav {
  background-color: #ff8c00 !important;
}
.my-sidenav-container mat-sidenav mat-nav-list a {
  color: #370d82 !important;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.auto-mg {
  margin: auto;
}

.div__display--flex {
  display: flex;
}

.div__background-image--picture {
  background-image: url("../../../../assets/img/samples/background.jpg") !important;
}

/*# sourceMappingURL=core-page.component.css.map */
