@import "../../../css/variables";

.is-mobile {

  & .my-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }

  & .my-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
}

h1 {
  color: mat-color($accent);
}

img {
  width: 35px;
  height: 35px;
}

.text__margin--right {
  margin-right: 8px;
}

.my-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  height: inherit;

  & mat-sidenav {
    background-color: mat-color($accent);

    & mat-nav-list {
      & a {
        color: mat-color($primary);
      }
    }
  }
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.auto-mg {
  margin: auto;
}

.div__display--flex {
  display: flex;
}

.div__background-image--picture {
  background-image: url("../../../../assets/img/samples/background.jpg") !important;
}

.my-sidenav-div {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  height: -moz-available; /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  height: stretch;
}
