<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content>
  <app-map
    [showDebugInfo]="false"
    [showControlsZoom]="false"
    [showControlsCurrentLocation]="false"
    [places]="[data]"
    [multiMarkerMode]="true"
    [routerLinkFunction]="routerLinkFunction">
  </app-map>
</div>
<div mat-dialog-actions>
  <button mat-button cdkFocusInitial (click)="onClick()">Ok</button>
</div>
