@import "src/app/css/variables";

.div-margin-top {
  margin-top: 1rem;
}

.img-preview-container {
  @extend .div-margin-top;
  position: relative;
  margin-bottom: 1rem;

  .img-preview {
    background: center center no-repeat;
    background-size: contain;
    height: 200px;
    width: 200px;
  }
}

.rating {
  font-size: 15vw;
  color: mat-color($accent);
}

@media screen and (min-width: 1000px) {
  .rating {
    font-size: 15vh;
  }
}

#uploader {
  outline: none;
}

#uploaderField {
  & ::ng-deep .mat-form-field-wrapper {
    & .mat-form-field-flex {
      & .mat-form-field-infix {
        padding: 0;
      }
    }
  }
}
