<form [formGroup]="mealFormGroup">
  <div class="form-group">
    <div class="img-preview-container">
      <div class="img-preview" [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}"></div>
    </div>
  </div>
  <div class="form-group">
    <mat-form-field id="uploaderField" (click)="processFile()" appearance="outline">
      <input matInput type="text" required hidden formControlName="picture">
      <button id="uploader" type="button" mat-button>Upload the meal picture</button>
      <mat-error *ngIf="mealFormGroup.controls.picture.invalid">{{errorMsg.picture}}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Meal's name" formControlName="name" required>
      <mat-error *ngIf="mealFormGroup.controls.name.invalid">{{errorMsg.name}}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-group div-margin-top" *ngIf="dateIsNeeded">
    <mat-form-field>
      <input matInput [matDatepicker]="dp3" placeholder="Eating date" formControlName="date" [max]="today" required>
      <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
      <mat-datepicker #dp3 touchUi disabled="false"></mat-datepicker>
      <mat-error *ngIf="mealFormGroup.controls.date.invalid">{{errorMsg.dateReq}}</mat-error>
      <mat-error *ngIf="mealFormGroup.controls.date.invalid">{{errorMsg.dateFuture}}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-group rating">
    <rating formControlName="rate" [max]="5" [readonly]="false" [titles]="['1','2','3','4','5']"></rating>
  </div>
</form>
<div>
  <button mat-button matStepperPrevious>Back</button>
  <button mat-button matStepperNext>Next</button>
</div>
